@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ 
	int startNodeId = 0;
	int maxNodes = 0;
	int.TryParse(Model.MacroParameters["startNodeId"].ToString(), out startNodeId); //if macro hos parameter, use it
	int.TryParse(Model.MacroParameters["maxNodes"].ToString(), out maxNodes); //if macro hos parameter, use it
	
	if (startNodeId == 0) {
			startNodeId = (int)Model.Content.Id; //default to currentpage
		}
	if (maxNodes == 0) {
			maxNodes = 5; // default 5 nodes
		}
    var startNode = Umbraco.Content(startNodeId);
    var selection = startNode.Descendants().Where("Visible").OrderBy("CreateDate desc").Take(maxNodes);

    if (selection.Any())
    {
		
		<div class="card lastlist">

	@if (Model.MacroParameters["widgetTitle"] != null) 
	{
					  <div class="card-header">
    					  <h4>@Model.MacroParameters["widgetTitle"]</h4>
  						</div>
	 }		  
				  
  <div class="card-block">

	@if (Model.MacroParameters["widgetSnippet"] != null) 
	{
		 <h6 class="card-subtitle text-muted">@Model.MacroParameters["widgetSnippet"]</h6>
	 }
  </div>
  <div class="card-block">

            @foreach (var item in selection)
            {
				<div class="media">
					@if (item.featuredImage != null && !(item.featuredImage is Umbraco.Core.Dynamics.DynamicNull)) 
					{
						<a class="media-left" href="@item.Url">
							@Umbraco.RenderMacro("ImageCropped", new {image=item.featuredImage, imageCrop="64x64", cssClass="media-object"})
						</a>
					}
				  <div class="media-body">
					<h4 class="media-heading">@item.pageTitle</h4>
					@item.pageSnippet
				  </div>
				</div>
            }

  </div>
</div>
     }
}